<h1>New profile</h1>

<h2>Choice page</h2>

Are you a ...

<br><br>

<button id = "customer">Customer</button>
<button id = "vendor">Vendor</button>
<br><br>

<div id = "vform">
	<%= render "vform" %>
</div>

<div id = "cform">
	<%= render "cform" %>
</div>

<script> 
 $(document).ready(function() {

//show like code
 $('#vform').hide();
 $('#cform').hide();

  $('#vendor').click(function() {
   $('#vform').show();
    $('#cform').hide();

   });

  $('#customer').click(function() {
   $('#cform').show();
    $('#vform').hide();

   });
});
</script>