<h1>New profile</h1>

<button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#myModal1">
  Customer?
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title center" id="myModalLabel">Customer profile</h4>
      </div>
      <div class="modal-body">
      <div class="container-fluid">
      <div class= "col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 center" >
        <%= render "cform" %>
        </div>
        </div>
      </div>
      <div class="modal-footer">
      <div class= "col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 center" >
        <button type="button" class="btn btn-danger center" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#myModal2">
  Vendor?
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title center" id="myModalLabel">Vendor profile</h4>
      </div>
      <div class="modal-body">
      <div class="container-fluid">
      <div class= "col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 center" >
        <%= render "vform" %>
        </div>
        </div>
      </div>
      <div class="modal-footer">
      <div class= "col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 center" >
        <button type="button" class="btn btn-danger center" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
