/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require standard/bootstrap_and_overrides
 *= require home/grayscale
 *= require_self
 */

    body {
      font-family: Buda;
    }

    .font{
    	font-family: Buda;
    }
    .heading2{
    	font-family: Buda;
      font-size: 50px;

    }
    .heading3 {
    	font-family: Buda;
      font-size: 30px;
    }
    .navbar-brand {
    	font-family: Buda;
    }
    .bigit{
      font-size: 20px;
    }

    .content-section{
      /*height: 300px;*/
      padding: 60px;
    }
    .intro-text{
      padding: 0;
      margin: 0;
    }
    .padme{
      width: 35vw;
      margin: 0 0 0 14vw;
    }

    .padhard{
      padding: 140px 0;
    }


    .paragraph{
      font-size: 24px
 }
