
<div class= "col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 center" >
<h1>Hi, <%= current_client.profile.name %></h1>

<h3>

It looks like you don't have any transactions yet! Make a payment and come back to this page for guidance on how to save.

<br><br>

Your AccountID is <strong><%= current_client.account.account_id %></strong>. You will use this to transact with stores or other people.<br><br> Click <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal">
  this button
</button> to see your pin. You can change your pin using the 'Update profile' button at the top of this page.


</h3>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Your pin</h4>
      </div>
      <div class="modal-body">
        Pin: <%= current_client.account.pin %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>